html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slide-content img {
  width: 100%;
  height: auto;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px;
  font-size: 100px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.textoverlay2 {
  position: absolute;
  top: 10px; /* Adjust the top position of the text overlay */
  left: 10px; /* Adjust the left position of the text overlay */
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Background color with transparency */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.temperature {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: none; /* Initially hide the loader */
  z-index: 9999; /* Ensure the loader appears on top of other content */
  animation: spin 2s linear infinite; /* Apply animation */
}

.label {
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 14px; /* Increase font size for better readability */
  color: #ffffff; /* Text color */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  padding: 5px 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  pointer-events: none; /* Make labels not interactable */
  z-index: 1; /* Ensure labels appear above pins */
  transform: translate(-50%, -50%); /* Center the labels over the pins */
}

#closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ff0000; /* Red color for close button */
  cursor: pointer; /* Show cursor as pointer on hover */
  z-index: 2; /* Ensure close button appears above other content */
}

.hidden {
  display: none;
}

.text {
  margin-left: 4px;
}

#closeButton{
  position: absolute;
  right: 0px;
  top: 0px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 3px;
  background: transparent;
  color: white;
}